@import "colors.css";

/*===============================================
                     Animations
===============================================*/

a.slide-animation {
   position: relative;
   text-decoration: none;
}

a.slide-animation::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -1px;
   left: 0;
   background-color: var(--black-3);
   visibility: visible;
   transform: scaleX(1);
   transform-origin: 0% 0%;
   transition: all 0.2s ease-out 0s;
}

a.slide-animation.opposite::before {
   transform-origin: 100% 0%;
}

a.slide-animation:hover::before {
   visibility: hidden;
   transform: scaleX(0);
}

a.slide-animation:active::before {
   visibility: visible;
   transform: scaleX(1);
}
