/*=======================================================
    Kyle Ancheta Portfolio Site - Case Study Template
=======================================================*/

.wrap {
   max-width: 100%;
   width: 100%;
   margin: 0 auto;
   background-color: #FAFAFA;
}

/*=======================================================
                     Case Study Header
=======================================================*/

.cs-close {
   z-index: 3;
   width: 10vmin;
   height: 10vmin;
   background: #FAFAFA url("../img/icon/close-icon.png") center/cover no-repeat;
   border-radius: 5vmin;
   box-shadow: 0 0 8px rgba(28, 28, 28, 0.25);

   position: fixed;
   top: 5vmin;
   right: 5vmin;
}

.cs-up {
   z-index: 3;
   width: 10vmin;
   height: 10vmin;
   background: #FAFAFA url("../img/icon/up-icon.png") center/cover no-repeat;
   border-radius: 5vmin;
   box-shadow: 0 0 8px rgba(28, 28, 28, 0.25);

   position: fixed;
   bottom: 5vmin;
   right: 5vmin;

   display: none;
}

.cs-header {
   background-color: #FAFAFA;
   width: 100%;
   height: 20vh;

   display: none;
}

.cs-logo-wrap {
   grid-area: cs-logo;
   place-self: center center;
}

.cs-logo {
   width: 15vmin;
   height: 15vmin;
   margin-top: 3vmin;
}

.prev-case-wrap {
   grid-area: header-prev;
   place-self: center start;
}

.prev-case {
   display: inline-block;
   margin-left: 2vmin;
}

.prev-case img {
   height: 3vmax;
   float: left;
   margin-right: 1vmin;
}

.prev-case h3 {
   display: none;
}

.prev-case h4 {
   float: left;
   margin: calc((3vmax - 1.25rem)/2) 0;
   text-transform: uppercase;
}

.next-case-wrap {
   grid-area: header-next;
   place-self: center end;
}

.next-case {
   display: inline-block;
   margin-right: 2vmin;
}

.next-case img {
   height: 3vmax;
   float: right;
   margin-left: 1vmin;
}

.next-case h3 {
   display: none;
}

.next-case h4 {
   float: right;
   margin: calc((3vmax - 1.25rem)/2) 0;
   text-transform: uppercase;
}

/*=======================================================
                    Case Study Content
=======================================================*/


.content {
   background-color: #FAFAFA;
   width: 100%;
   margin-top: 5vw;
   padding: 0 4.5%;

   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: repeat(6, 13.5%);
   grid-gap: 1vh 2%;
}

.content h1#project-title {
   grid-column: 1 / 7;
   place-self: center center;
   font-size: 2.375em;
   margin-top: 6vh;
}

.content h1 {
   grid-column: 1 / 7;
   place-self: center start;
   font-size: 2em;
   margin: 1vh 0;
}

.content h2 {
   grid-column: 1 / 7;
   place-self: center start;
   /* margin-left: 5vmin; */
   margin: 1vh 0;
   font-size: 1.5em;
}

.content h3 {
   grid-column: 1 / 7;
   place-self: center center;
   margin: 1vh 0;
}

.content h4 {
   font-size: 1.25rem;
   font-style: normal;
   margin: 1vh 0;
}

.content h4.disclaimer {
   font-size: 0.875rem;
}

.content table {
   grid-column: 1 / 7;
   place-self: center center;
   margin: 1vh 0;
}

.content table.project-info {
   place-self: center start;
}

.content p {
   grid-column: 1 / 7;
   font-size: 1.1em;
   line-height: 1.6em;
   margin: 1vh 0;
}

.content blockquote {
   grid-column: 1 / 7;
   padding: 1vh 0;
   margin: 2vh 0;
   border-top: #1C1C1C 2px solid;
   border-bottom: #1C1C1C 2px solid;
}

.content > img {
   width: 100%;
   object-fit: contain;
   grid-column: 1 / 7;
   place-self: center center;
   margin: 1vh 0;
}

.content > img.img-full {
   width: 100%;
   object-fit: cover;
   grid-column: 1 / 7;
   place-self: center center;
   margin: 1vh 0;
}

.content > img.cs-img-half-center {
   width: 100%;
   object-fit: contain;
   grid-column: 2 / 6;
   place-self: center center;
}

.content > img.cs-img-long-center {
   height: 60vh;
   width: 100%;
   object-fit: cover;
   grid-column: 2 / 6;
   place-self: center center;
}

.content > video {
   width: 100%;
   grid-column: 1 / 7;
   place-self: center center;
   margin: 1vh 0;
}

.content a.cs-btn-wrap {
   width: 100%;
   grid-column: 2 / 6;
   place-self: center center;
   margin: 2vmax 0;
}

.content .cs-btn {
   border-radius: 2px;
   box-shadow: 0 0 8px rgba(28, 28, 28, 0.25);
   padding: 1vh 2vw;
}

.content .cs-btn h3 {
   text-align: center;
   padding: 2vmin 0;
}

.content hr {
   grid-column: 1 / 7;
}

/*=======================================================
                    Image Label Containers
=======================================================*/

.content .img-label-wrap-full {
   grid-column: 1 / 7;
   margin: 1vh 0;
   display: grid;
   grid-template: auto auto / 1fr;
   grid-gap: 1vh;
   grid-template-areas:
   'ilw-img'
   'ilw-h4';
}

.content .img-label-wrap-full img {
   grid-area: ilw-img;
   place-self: center center;
   object-fit: contain;
   width: 100%;
}

.content .img-label-wrap-full h4 {
   grid-area: ilw-h4;
   place-self: center center;
   text-align: center;
}

.content .img-label-wrap-full p {
   grid-area: ilw-h4;
   place-self: center start;
   text-align: left;
}

/*  Medium-ish width  */
.content .img-label-wrap-med {
   grid-column: 2 / 6;
   margin: 1vh 0;
   display: grid;
   grid-template: auto auto / 1fr;
   grid-gap: 1vh;
   grid-template-areas:
   'ilw-img'
   'ilw-h4';
}

.content .img-label-wrap-med.mobile-full {
   grid-column: 1 / 7;
   margin: 1vh 0;
   display: grid;
   grid-template: auto auto / 1fr;
   grid-gap: 1vh;
   grid-template-areas:
   'ilw-img'
   'ilw-h4';
}

.content .img-label-wrap-med img {
   grid-area: ilw-img;
   place-self: center center;
   object-fit: contain;
   width: 100%;
}

.content .img-label-wrap-med h4 {
   grid-area: ilw-h4;
   place-self: center center;
   text-align: center;
}

.content .img-label-wrap-smol.mobile-full {
   grid-column: 1 / 7;
   margin: 1vh 0;
   display: grid;
   grid-template: auto auto / 1fr;
   grid-gap: 1vh;
   grid-template-areas:
   'ilw-img'
   'ilw-h4';
}

.content .img-label-wrap-smol img {
   grid-area: ilw-img;
   place-self: center center;
   object-fit: contain;
   width: 100%;
}

.content .img-label-wrap-smol h4 {
   grid-area: ilw-h4;
   place-self: center center;
   text-align: center;
}

/*             LEFT WRAP             */

.content .img-label-wrap-left {
   grid-column: 1 / 4;
   margin: 1vh 0;
   display: grid;
   grid-template: auto auto / 1fr;
   grid-gap: 1vh;
   grid-template-areas:
   'ilw-img'
   'ilw-h4';
}

.content .img-label-wrap-left img {
   grid-area: ilw-img;
   place-self: center center;
   width: 100%;
   object-fit: contain;
}

.content .img-label-wrap-left h4 {
   grid-area: ilw-h4;
   place-self: center center;
   text-align: center;
}

/*            RIGHT WRAP             */

.content .img-label-wrap-right {
   grid-column: 4 / 7;
   margin: 1vh 0;
   display: grid;
   grid-template: auto auto / 1fr;
   grid-gap: 1vh;
   grid-template-areas:
   'ilw-img'
   'ilw-h4';
}

.content .img-label-wrap-right img {
   grid-area: ilw-img;
   place-self: center center;
   width: 100%;
   object-fit: contain;
}

.content .img-label-wrap-right h4 {
   grid-area: ilw-h4;
   place-self: center center;
   text-align: center;
}

/*=======================================================
                  More Case Study Footer
=======================================================*/

/* .footer-more-cases {
   width: 91%;
   max-width: 91%;
   margin: 4vh 0;
   padding: 0 4.5%;

   display: grid;
   grid-template: auto 15vh 15vh 15vh / 1fr;
   grid-gap: 4vmin;
   grid-template-areas:
   "more-cases-label"
   "ktp"
   "sitterfix"
   "dotus";
}

.more-cases {
   border-radius: 5px;
}

.footer-more-cases > h3 {
   grid-area: more-cases-label;
   place-self: center start;
}

#more-cases-ktp {
   background-color: #C8BED5;
   grid-area: ktp;
}

#more-cases-sit {
   background-color: #e5c5da;
   grid-area: sitterfix;
}

#more-cases-dot {
   background-color: #a3d0fe;
   grid-area: dotus;
}

.footer-more-cases .more-cases .mc-overlay {
   height: 100%;
   width: 100%;
   text-align: center;

   display: grid;
   grid: 1fr / 1fr;

   background-image: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0.1));
}

.footer-more-cases .more-cases .mc-overlay img {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   place-self: center center;
   max-width: 60%;
} */

/*=======================================================
                     Toggle Classes
=======================================================*/

.no-prev, .no-next {
   display: none;
}

.top-margin {
   margin-top: 5vh;
}

.center-text {
   text-align: center;
}

.lil-border {
   border: #1C1C1C 1px solid;
}

.lil-shadow {
   box-shadow: 0 0 8px rgba(28, 28, 28, 0.25);
}

.lil-tab {
   margin-left: 3vw;
}

/*=======================================================
               Big Tablets and Desktop View
=======================================================*/


@media screen and (min-width: 1024px) {

   .cs-close {
      width: 8vmin;
      height: 8vmin;
      border-radius: 4vmin;

      top: 3.5vmin;
      right: 4vmin;

      transition: box-shadow 0.2s, transform 0.2s;
   }

   .cs-close:hover {
      box-shadow: 0 0 8px rgba(28, 28, 28, 0.5);
      transform: scale(1.05);
   }

   .cs-up {
      width: 8vmin;
      height: 8vmin;
      border-radius: 4vmin;

      bottom: 3.5vmin;
      right: 4vmin;

      transition: box-shadow 0.2s, transform 0.2s;
   }

   .cs-up:hover {
      box-shadow: 0 0 8px rgba(28, 28, 28, 0.5);
      transform: scale(1.05);
   }

   /*=======================================================
                        Case Study Header
   =======================================================*/

   .cs-header {
      width: 100%;
      height: 15vh;

      display: grid;
      grid-template: 1fr / repeat(12, 1fr);
      grid-gap: 2vmin;
      grid-template-areas:
      ". header-prev header-prev header-prev header-prev cs-logo cs-logo header-next header-next header-next header-next .";
   }

   .cs-logo-wrap {
      grid-area: cs-logo;
      place-self: center center;
   }

   .cs-logo {
      width: 10vmin;
      height: 10vmin;
      margin-top: 0;

      transition: box-shadow 0.4s, transform 0.4s;
   }

   .cs-logo:hover {
      box-shadow: 0 0 8px rgba(28, 28, 28, 0.5);
      transform: scale(1.05);
   }

   .prev-case-wrap {
      grid-area: header-prev;
      place-self: center start;
   }

   .prev-case {
      margin-left: 2vmin;
      display: grid;
      grid-template: 2.25em auto / auto 1fr;
      grid-template-areas:
      "prev-img prev-h3"
      ". prev-h4";
   }

   .prev-case img {
      height: 2em;
      float: none;
      margin-right: 0;
      grid-area: prev-img;
      place-self: center center;

      transition: transform 0.5s;
   }

   .prev-case:hover img {
      transform: translateY(calc(2.25em - 1rem));
   }

   .prev-case h3 {
      display: block;
      grid-area: prev-h3;
      place-self: center center;

      font-size: 2.25em;
      text-transform: uppercase;
      margin-left: 2vmin;
      opacity: 1;

      transition: opacity 0.3s;
   }

   .prev-case:hover h3 {
      opacity: 0;
   }

   .prev-case h4 {
      float: none;
      display: block;
      grid-area: prev-h4;

      font-size: 1rem;
      text-transform: uppercase;
      margin: 0 0 0 2vmin;

      transition: transform 0.5s, font-style 0.5s, font-size 0.5s;
   }

   .prev-case:hover h4 {
      transform: translateY(-1rem);
      font-style: normal;
      font-size: 2.25em;
   }

   .next-case-wrap {
      grid-area: header-next;
      place-self: center end;
   }

   .next-case {
      margin-right: 2vmin;
      display: grid;
      grid-template: 2.25em auto / 1fr auto;
      grid-template-areas:
      "next-h3 next-img"
      "next-h4 .";
   }

   .next-case img {
      height: 2em;
      float: none;
      margin-left: 0;
      grid-area: next-img;
      place-self: center center;

      transition: transform 0.5s;
   }

   .next-case:hover img {
      transform: translateY(calc(2.25em - 1rem));
   }

   /* (calc(2.25em - 1rem)) */

   .next-case h3 {
      display: block;
      grid-area: next-h3;
      justify-self: end;

      font-size: 2.25em;
      text-align: right;
      text-transform: uppercase;
      margin-right: 2vmin;
      opacity: 1;

      transition: opacity 0.3s;
   }

   .next-case:hover h3 {
      opacity: 0;
   }

   .next-case h4 {
      float: none;
      display: block;
      grid-area: next-h4;
      justify-self: end;

      font-size: 1rem;
      text-align: right;
      text-transform: uppercase;
      margin: 0 2vmin 0 0;

      transition: transform 0.5s, font-style 0.5s, font-size 0.5s;
   }

   .next-case:hover h4 {
      transform: translateY(-1rem);
      font-style: normal;
      font-size: 2.25em;
   }

   /*=======================================================
                       Case Study Content
   =======================================================*/


   .content {
      background-color: #FAFAFA;
      width: 100%;
      margin-top: 5vw;
      padding: 0 2.5%;

      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: repeat(12, 7%);
      grid-gap: 1vh 1%;
   }

   .content h1#project-title {
      grid-column: 3 / 11;
      place-self: center center;
      font-size: 5em;
      margin-top: 0;
   }

   .content h1 {
      grid-column: 4 / 10;
      place-self: center start;
      font-size: 3em;
      margin: 1vh 0;
   }

   .content h2 {
      grid-column: 4 / 10;
      place-self: center start;
      margin: 1vh 0;
      /* margin-left: 5vmin;
      margin-bottom: 3vmin; */
      font-size: 2em;
   }

   .content h3 {
      grid-column: 4 / 10;
      margin: 1vh 0;
   }

   .content h4 {
      font-size: 1.75rem;
      margin: 0 0 1vh;
   }

   .content h4.disclaimer {
      font-size: 1rem;
   }

   .content table {
      grid-column: 4 / 10;
      place-self: center center;

      border-spacing: 4vmin;
      margin: 1vh 0;
   }

   table, th, td {
      padding: 1vmax 4vmax;
   }

   .content p {
      grid-column: 4 / 10;
      margin: 2vh 0;
      font-size: 1.125em;
   }

   .content p.desktop-left {
      grid-column: 3 / span 4;
      margin: 1vh 0;
   }

   .content p.desktop-right {
      grid-column: 7 / span 4;
      margin: 1vh 0;
   }

   .content blockquote {
      grid-column: 4 / 10;
      margin: 2vh 0;
   }

   .content > img {
      width: 100%;
      /* max-height: 60vh; */
      object-fit: cover;
      grid-column: 3 / 11;
      place-self: center center;
      margin: 1vh 0;
   }

   .content img.img-full {
      width: 100%;
      /* max-height: 60vh; */
      object-fit: cover;
      grid-column: 3 / 11;
      place-self: center center;
      margin: 1vh 0;
   }

   .content img.cs-img-half-center {
      width: 100%;
      object-fit: contain;
      grid-column: 4 / 10;
      place-self: center center;
      margin: 1vh 0;
   }

   .content img.cs-img-long-center {
      height: 70vh;
      width: 100%;
      object-fit: cover;
      grid-column: 5 / span 4;
      place-self: center center;
      margin: 1vh 0;
   }

   .content img.desktop-left {
      width: 100%;
      /* max-height: 60vh; */
      object-fit: cover;
      grid-column: 3 / span 4;
      place-self: center center;
      margin: 1vh 0;
   }

   .content img.desktop-right {
      width: 100%;
      /* max-height: 60vh; */
      object-fit: cover;
      grid-column: 7 / span 4;
      place-self: center center;
      margin: 1vh 0;
   }

   .content video {
      grid-column: 3 / 11;
      margin: 1vh 0;
   }

   .content video.desktop-left {
      grid-column: 3 / span 4;
      margin: 1vh 0;
   }

   .content video.desktop-right {
      grid-column: 7 / span 4;
      margin: 1vh 0;
   }

   .content a.cs-btn-wrap {
      width: 100%;
      grid-column: 6 / 8;
      place-self: center center;
      margin: 2vmax 0;
   }

   .content a.cs-btn-wrap-long {
      width: 100%;
      grid-column: 5 / 9;
      place-self: center center;
      margin: 2vmax 0;
   }

   .content .cs-btn {
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(28, 28, 28, 0.25);
      transition: box-shadow 0.2s, transform 0.2s;
      /* box-shadow: 0 0 8px rgba(28, 28, 28, 0.25); */
   }

   .content a.cs-btn-wrap:hover .cs-btn {
      box-shadow: 0 0 12px rgba(28, 28, 28, 0.5);
      transform: scale(0.96);
   }

   .content .cs-btn h3 {
      text-align: center;
      padding: 2vmin 0;
   }

   .content hr {
      grid-column: 4 / 10;
   }

   /*=======================================================
                       Image Label Containers
   =======================================================*/

   .content .img-label-wrap-full {
      grid-column: 3 / 11;
      margin: 1vh 0;
   }

   .content .img-label-wrap-full.desktop-left {
      grid-column: 3 / 7;
      margin: 1vh 0;
   }

   .content .img-label-wrap-full.desktop-right {
      grid-column: 7 / 11;
      margin: 1vh 0;
   }

   .content .img-label-wrap-full.fuller {
      grid-column: 2 / 12;
      margin: 1vh 0;
   }

   /*  Medium-ish width  */
   .content .img-label-wrap-med {
      grid-column: 4 / 10;
      margin: 1vh 0;
   }

   .content .img-label-wrap-med.mobile-full {
      grid-column: 4 / 10;
   }

   /*  Small-ish width  */
   .content .img-label-wrap-smol {
      grid-column: 5 / 9;
      margin: 1vh 0;
   }

   .content .img-label-wrap-smol.mobile-full {
      grid-column: 5 / 9;
   }

   /*             LEFT WRAP             */

   .content .img-label-wrap-left {
      grid-column: 3 / 7;
      margin: 1vh 0;
   }

   /*            RIGHT WRAP             */
   .content .img-label-wrap-right {
      grid-column: 7 / 11;
      margin: 1vh 0;
   }

   /*=======================================================
                        More Case Study Footer
   =======================================================*/

   /* .footer-more-cases {
      width: 100%;
      max-width: 100%;
      height: calc(2em + 15vh);
      margin: 8vh 0 5vh;
      padding: 0;

      display: grid;
      grid-template: auto 1fr / repeat(12, 1fr);
      grid-gap: 2vmin;
      grid-template-areas:
      ". . . more-cases-label more-cases-label more-cases-label more-cases-label more-cases-label more-cases-label . . ."
      ". . . ktp ktp sitterfix sitterfix dotus dotus . . .";
   }

   .more-cases {
      border-radius: 5px;
   }

   .footer-more-cases > h3 {
      grid-area: more-cases-label;
      place-self: center start;
   }

   #more-cases-ktp {
      background-color: #C8BED5;
      grid-area: ktp;
   }

   #more-cases-sit {
      background-color: #e5c5da;
      grid-area: sitterfix;
   }

   #more-cases-dot {
      background-color: #a3d0fe;
      grid-area: dotus;
   }

   .footer-more-cases .more-cases .mc-overlay {
      height: 100%;
      width: 100%;
      text-align: center;

      display: grid;
      grid: 1fr / 1fr;

      background-image: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0));
      transition: background-image 1s;
   }

   .footer-more-cases .more-cases .mc-overlay:hover {
      background-image: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0.3));
   }

   .footer-more-cases .more-cases .mc-overlay img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      place-self: center center;
      max-width: 80%;
   } */

   /*=======================================================
                        Toggle Classes
   =======================================================*/

   .no-prev, .no-next {
      display: none;
   }

   .top-margin {
      margin-top: 5vh;
   }

   .center-text {
      text-align: center;
   }

   .lil-border {
      border: #1C1C1C 1px solid;
   }

   .lil-shadow {
      box-shadow: 0 0 8px rgba(28, 28, 28, 0.25);
   }

   .lil-tab {
      margin-left: 3vw;
   }

}
