/*=======================================================
          Kyle Ancheta Portfolio Site - Layout
=======================================================*/

.wrap {
   max-width: 100%;
   width: 100%;
   margin: 0 auto;
}

/*===============================================
                Main Content Layout
===============================================*/

.content {
   margin-top: 36px;
   max-width: 100%;
   width: calc(100% - 48px);
   padding: 0 24px 0;
   z-index: -1;

   display: grid;
   grid-gap: 8px;
   grid-template: auto / repeat(6, 1fr);
}

.content h1 {
   grid-column: 1 / 7;
   place-self: center start;
}

.content h2 {
   grid-column: 1 / 7;
   place-self: center start;
}

.content ul {
   grid-column: 1 / 7;
   place-self: center start;
}

.content p {
   grid-column: 1 / 7;
   place-self: end start;
   margin-top: 32px;
   margin-bottom: 4px;
}

/*===============================================
                  Big Tablet View
===============================================*/

@media screen and (min-width: 768px) {
   .content {
      margin-top: 48px;
      width: calc(100% - 80px);
      padding: 0 40px 0;
   }
}

/*===============================================
                  Tablet View
===============================================*/

@media screen and (min-width: 1024px) {
   .content {
      margin-top: 56px;
      width: calc(100% - 80px);
      padding: 0 40px 0;

      display: grid;
      grid-gap: 16px;
      grid-template: auto / repeat(8, 1fr);
   }

   .content h1 {
      grid-column: 2 / 8;
   }

   .content h2 {
      grid-column: 2 / 8;
   }

   .content ul {
      grid-column: 2 / 8;
   }

   .content p {
      grid-column: 2 / 8;
      margin-top: 48px;
   }
}


/*===============================================
                  Desktop View
===============================================*/

@media screen and (min-width: 1440px) {
   .content {
      margin-top: 72px;
      width: calc(100% - 160px);
      padding: 0 80px 0;
      z-index: -1;

      display: grid;
      grid-gap: 12px;
      grid-template: auto / repeat(12, 1fr);
   }

   .content h1 {
      grid-column: 3 / 11;
   }

   .content h2 {
      grid-column: 3 / 11;
   }

   .content ul {
      grid-column: 3 / 11;
   }

   .content p {
      grid-column: 3 / 11;
      margin-top: 64px;
      margin-bottom: 8px;
   }
}
