/*=======================================================
       Kyle Ancheta Portfolio Site - Base Styling
=======================================================*/

@import "fonts/fonts.css";
@import "colors.css";

* {
   text-decoration: none;
}

::selection {
   background: var(--black-1);
   color: var(--white-1);
}

:focus {
   background: var(--blue-200);
   padding: 4px;
   border-radius: 2px;
   outline: 0;
}

html, body {
   font-size: 100%; /* 16px */
   /* font-size: 112.5%; /* 18px */
   font-family: 'HKGrotesk', 'Inter', Helvetica, Arial, sans-serif;
   background-color: var(--white-2);
   scroll-behavior: smooth;
   overflow-x: hidden;
}

h1 {
   font-size: 2rem;
   font-weight: 700; /* Bold */
   line-height: 130%;
   color: var(--black-1);
   margin: 2rem 0 1rem;
}

h2 {
   font-size: 1.75rem;
   font-weight: 700;
   line-height: 130%;
   color: var(--black-1);
   margin: 1.75rem 0 0.75rem;
}

h3 {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 130%;
   color: var(--black-3);
   margin: 1.5rem 0 0.5rem;
}

h4 {
   font-size: 1.25rem;
   font-style: italic;
   font-weight: 400;
   line-height: 140%;
   color: var(--black-2);
   margin: 1.25rem 0 0.25rem;
}

ol, ul {
   font-size: 1rem;
   line-height: 150%;
   font-weight: 500;
   color: var(--black-3);
   opacity: 0.99;
   margin: 1rem 0 0.5rem 3rem;
}

li {
   margin: 1rem 0 0.75rem;
}

p, label {
   font-size: 1rem;
   line-height: 150%;
   font-weight: 500;
   color: var(--black-3);
   opacity: 0.99;
   margin: 1rem 0 0.5rem;
}

h1 + p, h2 + p, h3 + p, h4 + p {
   margin-top: 0;
}

label {
   margin: 0 0 0.75rem;
}

a {
   color: var(--black-1);
   font-weight: 500;
   /* text-decoration: underline; */
}

blockquote {
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: 700;
   text-align: center;
   color: var(--black-1);
   padding: 0.75rem 0;
   border-top: 2px solid var(--grey-1);
   border-bottom: 2px solid var(--grey-1);
   margin: 1.5rem 0 1.5rem;
}

table {
   max-width: 100%;
   font-size: 1rem;
   font-weight: 500;
   line-height: 130%;
   color: var(--black-3);
   text-align: left;
   border-spacing: 1rem;
   border-collapse: collapse;
   padding: 2px;
   /* border: solid 1px var(--black-1); */
   border: none;
   margin: 1.5rem 0 0.75rem;
}

table {
   padding: 1rem 0;
}

th, td {
   padding: 0.75rem 2rem 0.75rem 0;
}

th {
   font-weight: 600;
}

table tr:first-child {
   /* border-bottom: solid 1px var(--black-1); */
   margin-bottom: 1.25rem;
}

hr {
   border-top: 2px solid var(--grey-1);
   margin: 1rem 0;
}

img, video, iframe {
   margin: 1.5rem 0 1rem;
}

/*===============================================
                     Classes
===============================================*/

h1.home-title {
   color: var(--black-3);
   margin: 1rem 0 0;
}

h1.home-title span {
   color: var(--black-1);
}

h2.home-subtitle {
   color: var(--grey-4);
   line-height: 150%;
   margin: 1rem 0 0;
}

h2.more-cases {
   margin-bottom: 0.75rem;
}

span.sneaky-note {
   font-size: 0.625rem;
   font-weight: 400;
   line-height: 100%;
}

ul.no-bullets {
   list-style-type: none;
}

ul.list-links {
   font-size: 1.5rem;
   line-height: 130%;
   color: var(--black-1);
   list-style-type: none;
   margin: 0;
}

li.list-link {
   font-size: 1.5rem;
   font-weight: 500;
   margin: 0 0 0.75rem;
}

img.with-label, video.with-label {
   margin: 1rem 0 0.1rem;
}


/*===============================================
               Mobile Landscape View
===============================================*/

@media screen and (min-width: 568px) {

   html, body {
      font-size: 112.5%; /* 18px */
   }

}

/*===============================================
                  Tablet View
===============================================*/

@media screen and (min-width: 768px) {
   /* table, th, td {
      padding: 0.75rem 1rem;
   }

   table {
      padding: 1rem 0;
   }

   th, td {
      padding: 0.75rem 2rem 0.75rem 0;
   } */
}

/*===============================================
            Laptop / Small Desktop View
===============================================*/

@media screen and (min-width: 1024px) {

   html, body {
      font-size: 125%; /* 20px */
   }

   /* table, th, td {
      padding: 1rem 1.25rem;
   } */

   blockquote {
      border-top: 3px solid var(--grey-1);
      border-bottom: 3px solid var(--grey-1);
   }

   hr {
      border-top: 3px solid var(--grey-1);
   }

}

/*===============================================
                  Desktop View
===============================================*/

@media screen and (min-width: 1440px) {

   html, body {
      font-size: 137.5%; /* 22px - yes, there's a fucking difference between 24px and 23px... */
   }

}

/*===============================================
                  Big Desktop View
===============================================*/

@media screen and (min-width: 1800px) {

   html, body {
      font-size: 143.75%; /* 23px - yes, there's a fucking difference between 24px and 23px... */
   }

   p {
      line-height: 160%;
   }
}
