* {

}

body {

}

#splash-img {
   width: 100%;
   height: 100vh;
   background: url("../img/splash.png") center/cover no-repeat;
}

/***************************************************************
                        WELCOME PAGE
***************************************************************/
.welcome-container {
   background-color: white;
}

.welcome-elements {
   width: 100%;
   height: 100vh;
   display: grid;
   grid: 10vh auto auto auto auto 10vh / 1fr;

   grid-template-areas: "." "logo" "title" "message" "button" ".";
}

.wishes-logo {
   grid-area: logo;
   place-self: center center;
}

.welcome-title {
   grid-area: title;
   place-self: center center;
}

.welcome-message {
   grid-area: message;
   place-self: center center;
   text-align: center;
}

.link-button {
   grid-area: button;
   place-self: center center;
}

/***************************************************************
                        FIRST TIME ELEMENTS
***************************************************************/

#first-message {
   display: block;
   margin: 0 auto;
   text-align: center;
   position: relative;
   top: 50%;

   font-size: 2rem;
}

#name-input {
   display: block;
   margin: 0 auto;
   position: relative;
   top: 55%;

   border: none;
   border-radius: 12vw;
   padding: 1vh 6vw;
   font-size: 1.25rem;
}

#enter-name-button {
   display: block;
   margin: 0 auto;
   position: relative;
   top: 56%;

   font-size: 1rem;
   font-weight: bold;
   padding: 1vh 5vw;
   border: none;
   border-radius: 10vw;
   color: white;
   background-color: #333333;
   font-weight: bold;
}

/***************************************************************
                        CONFIRM WISHES
***************************************************************/

.preview-container {
   background-color: #ffffff;
   position: absolute;
   top: 12vh;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding: 30px 20px 10px;
   width: 80%;
   height: 70vh;
   border-radius: 5vh;
}

.preview-container h1 {
   text-align: center;
}

.preview-container p.info {
   margin: 1vh auto;
   text-align: center;
   font-size: 0.75rem;
}

.preview-container p#wishes-text {
   margin: 2vh auto 1vh;
   max-height: 50vh;
   font-size: 1rem;
   overflow: auto;
}

a#go-back {
   position: absolute;
   top: 5vh;
   left: 5%;
}

a#lets-go {
   position: absolute;
   bottom: 5vh;
   right: 5%;
}
