* {
   box-sizing: border-box;
}

body {
   background-color: #f1f1f1;
}

h1 {
   position: absolute;
   top: 25vh;
   left: 0;
   right: 0;
   text-align: center;
}

form {
   background-color: #ffffff;
   position: absolute;
   top: 35vh;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding: 30px 20px 10px;
   width: 70%;
   border-radius: 10%;
   min-width: 300px;
}

p.question-label {
   font-size: 0.75rem;
   margin-left: 4px;
   margin-bottom: 18px;
}

p.question {
   font-size: 1rem;
   background-color: #333333;
   padding: 1vh 3vw;
   border-radius: 4vw;
   font-weight: bold;
}

input {
   padding: 1vh 3vw;
   margin: 1vh 0;
   width: 100%;
   font-size: 1rem;
   border: none;
   border-radius: 4vw;
   background-color: #BBB;
}

textarea {
   padding: 1vh 3vw;
   margin: 1vh 0;
   width: 100%;
   font-size: 1rem;
   border: none;
   border-radius: 4vw;
   background-color: #BBB;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
   background-color: #ffdddd;
}
textarea.invalid {
   background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
   display: none;
}

button {
   font-size: 1rem;
   font-weight: bold;
   padding: 1vh 5vw;
   border: none;
   border-radius: 10vw;
   color: white;
   background-color: #333333;
   font-weight: bold;
   cursor: pointer;
}

.prog-buttons {
   position: relative;
   top: 9vh;
}

/* button#nextBtn {
   width: 50px;
   height: 50px;
   background: url("../img/next_arrow.png") center/cover no-repeat;
   border: none;
   cursor: pointer;
} */

button:hover {
   opacity: 0.8;
}

#prevBtn {
background-color: #333;
}

#steps {
   position: absolute;
   bottom: -100px;
   left: 0;
   right: 0;
}

/* Make circles that indicate the steps of the form: */
.step {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: white;
   border: none;
   border-radius: 50%;
   display: inline-block;
   opacity: 0.5;
}

.step.active {
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: white;
}
