<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
      <link rel="icon" href="../img/ka.png">
      <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,500i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Barlow:400,800" rel="stylesheet">
      <title>Kyle Ancheta</title>

      <link rel="stylesheet" href="../css/reset.css">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/cs.css">

      <link rel="stylesheet" href="../css/animate/animate.min.css">

      <script src="../js/jquery-2.2.4.min.js"></script>
      <script src="../js/cs.js"></script>

   </head>
   <body>
      <div class="wrap">
         <a href="../index"><div class="cs-close"></div></a>
         <a href="#"><div class="cs-up"></div></a>

         <div class="cs-header">
            <a class="cs-logo-wrap" href="../index"><img class="cs-logo" src="../img/ka-nbr.png" alt="Kyle Ancheta"></a>
            <a class="prev-case-wrap" href="#">
               <div class="prev-case">
                  <img src="../img/icon/prev.png" alt="Prev">
                  <h3>A Project I Did</h3>
                  <h4>Prev Case Study</h4>
               </div>
            </a>
            <a class="next-case-wrap" href="#">
               <div class="next-case">
                  <img src="../img/icon/next.png" alt="Next">
                  <h3>Another Project</h3>
                  <h4>Next Case Study</h4>
               </div>
            </a>
         </div>
         <section class="content">
            <h1 id="project-title">Another Project</h1>
            <img class="cs-img-full" src="../img/cases/app.jpg" alt="">
            <p>The path of the righteous man is beset on all sides by the iniquities of the
               selfish and the tyranny of evil men. Blessed is he who, in the name of charity
               and good will, shepherds the weak through the valley of darkness, for he is
               truly his brother's keeper and the finder of lost children. And I will strike
               down upon thee with great vengeance and furious anger those who would attempt to
               poison and destroy My brothers. And you will know My name is the Lord when I lay
               My vengeance upon thee.
            </p>
            <br><br>
            <h1>OBJECTIVE</h1>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
               my shirt with my name printed on it? Do you see a little Asian child with a blank
               expression on his face sitting outside on a mechanical helicopter that shakes when
               you put quarters in it? No? Well, that's what you see at a toy store. And you must
               think you're in a toy store, because you're here shopping for an infant named Jeb.
            </p>
            <h1>PROJECT BREAKDOWN</h1>
            <h2>September 2018 - November 2018</h2>
            <br>
            <table>
               <tr id="table-label">
                  <th>DELIVERABLE</th>
                  <th>DURATION</th>
                  <th>DESCRIPTION</th>
               </tr>
               <tr>
                  <td>Motion Graphics</td>
                  <td>1 Week</td>
                  <td>Blah blah blah blah blah blah blah </td>
               </tr>
               <tr>
                  <td>Wireframes</td>
                  <td>4 Days</td>
                  <td>Blah blah blah blah blah blah blah </td>
               </tr>
               <tr>
                  <td>Development</td>
                  <td>2 Weeks</td>
                  <td>Blah blah blah blah blah blah blah </td>
               </tr>
            </table>
            <br>
            <p>The path of the righteous man is beset on all sides by the iniquities of the
               selfish and the tyranny of evil men. Blessed is he who, in the name of charity
               and good will, shepherds the weak through the valley of darkness, for he is
               truly his brother's keeper and the finder of lost children. And I will strike
               down upon thee with great vengeance and furious anger those who would attempt to
               poison and destroy My brothers. And you will know My name is the Lord when I lay
               My vengeance upon thee.
            </p>
            <br>
            <h1>APPROACH</h1>
            <h2>Stage 1: Motion Graphics</h2>
            <p class="cs-p-desktop-half-left">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
               my shirt with my name printed on it? Do you see a little Asian child with a blank
               expression on his face sitting outside on a mechanical helicopter that shakes when
               you put quarters in it? No? Well, that's what you see at a toy store. And you must
               think you're in a toy store, because you're here shopping for an infant named Jeb.
            </p>

            <img class="cs-img-half-center cs-img-desktop-half-right" src="../img/cases/app.jpg" alt="">
            <br>
            <p>The path of the righteous man is beset on all sides by the iniquities of the
               selfish and the tyranny of evil men. Blessed is he who, in the name of charity
               and good will, shepherds the weak through the valley of darkness, for he is
               truly his brother's keeper and the finder of lost children. And I will strike
               down upon thee with great vengeance and furious anger those who would attempt to
               poison and destroy My brothers. And you will know My name is the Lord when I lay
               My vengeance upon thee.
            </p>
            <br>
            <h2>Stage 2: Wireframes</h2>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
               my shirt with my name printed on it? Do you see a little Asian child with a blank
               expression on his face sitting outside on a mechanical helicopter that shakes when
               you put quarters in it? No? Well, that's what you see at a toy store. And you must
               think you're in a toy store, because you're here shopping for an infant named Jeb.
            </p>
            <br>
            <img class="cs-img-half-left" src="../img/cases/app.jpg" alt="">
            <img class="cs-img-half-right" src="../img/cases/app.jpg" alt="">

            <h4 class="cs-img-label-left">IMAGE LABEL</h4>
            <h4 class="cs-img-label-right">IMAGE LABEL</h4>

            <br>
            <img class="cs-img-half-left" src="../img/cases/app.jpg" alt="">
            <img class="cs-img-half-right" src="../img/cases/app.jpg" alt="">

            <h4 class="cs-img-label-left">IMAGE LABEL</h4>
            <h4 class="cs-img-label-right">IMAGE LABEL</h4>

            <br>

            <h2>Stage 3: User Flow</h2>
            <br>
            <img class="cs-img-half-left" src="../img/cases/app.jpg" alt="">
            <img class="cs-img-half-right" src="../img/cases/app.jpg" alt="">
            <br>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
               my shirt with my name printed on it? Do you see a little Asian child with a blank
               expression on his face sitting outside on a mechanical helicopter that shakes when
               you put quarters in it? No? Well, that's what you see at a toy store. And you must
               think you're in a toy store, because you're here shopping for an infant named Jeb.
            </p>

            <br>

            <h2>Stage 4: Prototype</h2>
            <img class="cs-img-long-center" src="../img/cases/app.jpg" alt="">
            <br>
            <p>The path of the righteous man is beset on all sides by the iniquities of the
               selfish and the tyranny of evil men. Blessed is he who, in the name of charity
               and good will, shepherds the weak through the valley of darkness, for he is
               truly his brother's keeper and the finder of lost children. And I will strike
               down upon thee with great vengeance and furious anger those who would attempt to
               poison and destroy My brothers. And you will know My name is the Lord when I lay
               My vengeance upon thee.
            </p>

            <h1>Final Product</h1>
            <br>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
               my shirt with my name printed on it? Do you see a little Asian child with a blank
               expression on his face sitting outside on a mechanical helicopter that shakes when
               you put quarters in it? No? Well, that's what you see at a toy store. And you must
               think you're in a toy store, because you're here shopping for an infant named Jeb.
            </p>
            <br>
            <img class="cs-img-full" src="../img/cases/app.jpg" alt="">
            <img class="cs-img-half-left" src="../img/cases/app.jpg" alt="">
            <img class="cs-img-half-right" src="../img/cases/app.jpg" alt="">
            <br>
            <p>The path of the righteous man is beset on all sides by the iniquities of the
               selfish and the tyranny of evil men. Blessed is he who, in the name of charity
               and good will, shepherds the weak through the valley of darkness, for he is
               truly his brother's keeper and the finder of lost children. And I will strike
               down upon thee with great vengeance and furious anger those who would attempt to
               poison and destroy My brothers. And you will know My name is the Lord when I lay
               My vengeance upon thee.
            </p>
            <br>
            <h1>Lessons Learned</h1>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
               my shirt with my name printed on it? Do you see a little Asian child with a blank
               expression on his face sitting outside on a mechanical helicopter that shakes when
               you put quarters in it? No? Well, that's what you see at a toy store. And you must
               think you're in a toy store, because you're here shopping for an infant named Jeb.
            </p>
            <br><br>

            <a class="cs-btn-wrap" href="#">
               <div class="cs-btn">
                  <h3>VIEW PROTOTYPE</h3>
               </div>
            </a>
            <br>
            <br><br><br><br>
         </section>
         <div class="cs-footer">
            <a class="cs-footer-logo-wrap"><img class="cs-logo" src="../img/ka-nbr.png" alt="Kyle Ancheta"></a>
            <a class="footer-prev-case-wrap" href="#">
               <div class="footer-prev-case">
                  <img src="../img/icon/prev.png" alt="Prev">
                  <h3>A Project I Did</h3>
                  <h4>Prev Case Study</h4>
               </div>
            </a>
            <a class="footer-next-case-wrap" href="#">
               <div class="footer-next-case">
                  <img src="../img/icon/next.png" alt="Next">
                  <h3>Another Project</h3>
                  <h4>Next Case Study</h4>
               </div>
            </a>
         </div>
      </div>
   </body>
</html>
